<!doctype html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header" ></head>
<body>
<nav th:replace="layout :: nav" ></nav>
<div class="container mt-5">
    <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
        <div class="form-group">

            <!--This will be used to bind to the employee that has been clicked for update-->
            <input type="hidden" th:field="${employee.employee_id}"/>

            <label for="fname">FirstName</label>
            <input type="text" th:field="${employee.firstName}" class="form-control" id="fname" placeholder="Employee first-name">
            <span style="color: darkred" th:if="${#fields.hasErrors('firstName')}" th:errors="${employee.firstName}"></span>
        </div>
        <div class="form-group">
            <label for="lname">LastName</label>
            <input type="text" th:field="${employee.lastName}" class="form-control" id="lname" placeholder="Employee last-name">
            <span style="color: darkred" th:if="${#fields.hasErrors('lastName')}" th:errors="${employee.lastName}"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" th:field="${employee.email}" class="form-control" id="email" placeholder="Employee email">
            <span style="color: darkred" th:if="${#fields.hasErrors('email')}" th:errors="${employee.email}"></span>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" th:field="${employee.status}">
                <option value="" >Selectionnez un status</option>
                <option th:value="JUNIOR"> Junior</option>
                <option th:value="SENIOR"> Senior</option>
                <option th:value="INTERMEDIARY"> Intermediary</option>
            </select>
            <span style="color: darkred" th:if="${#fields.hasErrors('status')}" th:errors="${employee.status}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create Employee</button>
    </form>
</div>
</body>
</html>
